<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="processEngineConfiguration" class="org.flowable.engine.impl.cfg.StandaloneProcessEngineConfiguration">
        <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/flowable5"/>
        <property name="jdbcDriver" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUsername" value="ebics"/>
        <property name="jdbcPassword" value="ebics"/>
        <property name="databaseSchemaUpdate" value="true"/>
    </bean>-->

    <bean name="hzCommons" id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="mysqlDB"/>
        <property name="mapperLocations">
            <array>
                <value>classpath*:/mappings/**/*.xml</value>
                <value>classpath:/META-INF/modeler-mybatis-mappings/*.xml</value>
            </array>
        </property>
        <property name="configLocation" value="classpath:/config/mybatis-config.xml"/>
    </bean>
</beans>
